<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport"
    content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0" />
  <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
  <title>{{$t("lang.forgotPassword")}}</title>
	<script src="../../script/vue.min.js"></script>
	<script src="../../script/vue-i18n.min.js"></script>
	<script src="../../script/vant.min.js"></script>
  <script src="../../script/country-code.js"></script>
  <script src="../../i18n/zh-cn.js"></script>
  <script src="../../i18n/zh-tw.js"></script>
  <script src="../../i18n/en.js"></script>
  <script src="../../i18n/ja.js"></script>
  <script src="../../i18n/ko.js"></script>
  <script src="../../i18n/ar.js"></script>
  <script src="../../i18n/ms.js"></script>
  <script src="../../i18n/tr.js"></script>
  <script src="../../i18n/vi.js"></script>
  <script src="../../i18n/id.js"></script>
  <script src="../../script/jquery.min.js"></script>
  <script src="../../script/jquery.md5.js"></script>
  <script src="../../script/api.js"></script>
  <script src="../../script/webservice.js"></script>
	<link rel="stylesheet" type="text/css" href="../../css/index.css" />
  <link rel="stylesheet" type="text/css" href="../../css/api.css" />
  <link rel="stylesheet" type="text/css" href="../../css/app.css" />
</head>

<body>
  <div class="flex flex-v" id="app" style="width:100%;height:100%">
    <div class="topbar">{{$t('lang.forgotPassword')}}</div>

    <div style="margin:3vw 8vw 3vw 8vw">
      <van-form @submit="onSubmit">
        <!-- 注册方式 -->
        <!-- <van-radio-group name="forgotType" v-model="forgotType" direction="horizontal">
          <van-radio name="0">{{$t('lang.mobile')}}</van-radio>
          <van-radio name="1" checked>{{$t('lang.email')}}</van-radio>
        </van-radio-group>
        <div style="height:2vw"></div> -->
        <!-- 邮箱 -->
        <van-field name="email" v-show="forgotType == 1" id="filEmail" :placeholder="$t('lang.email')"
          :rules="[{validator: emailValidator,message: $t('lang.pleaseEnterEmail')}]" class="input-field"
          v-model="email" maxlength="40" size="large"></van-field>
        <div style="height:2vw"></div>
        <!-- 手机号 -->
        <!-- <div class="flex flex-h" v-show="forgotType == 0">
          <van-dropdown-menu active-color="#1989fa" title-class="input-field flex-left flex-1">
            <van-dropdown-item name="countryCode" 
                               v-model="countryCode" 
                               :options="countryCodes"
                               :title="countryCodeTitle" 
                               @change="countryCodeChange" />
          </van-dropdown-menu>
          <div style="width:2vw"></div>
          <van-field name="tel" class="input-field flex-right" :placeholder="$t('lang.mobile')"
            :rules="[{validator: telValidator, message: $t('lang.pleaseEnterMobile') }]" v-model="tel"></van-field>
        </div>
        <div style="height:2vw"></div> -->
        <!-- 验证码 -->
        <van-field name="code" :placeholder="$t('lang.verificationCode')"
          :rules="[{required: true, message: $t('lang.pleaseEnterVerificationCode') }]" class="input-field flex-1"
          v-model="code">
          <template #button>
            <van-button type="info" size="small" color="#a0732a" native-type="button" tapmode @click="sendCode" v-bind:disabled="!canSend">{{sendTxt}}</van-button>
          </template>
        </van-field>
        <div style="height:2vw"></div>
        <!-- 操作按钮 -->
        <div style="height:20vw"></div>
        <van-button type="info" native-type="submit" color="#a0732a" block tapmode>{{$t("lang.confirm")}}</van-button>
        <div style="height:2vw"></div>
        <van-button type="default" native-type="button" color="#a0732a" plain @click="cancel()" block plain tapmode>{{$t("lang.cancel")}}</van-button>
      </van-form>
    </div>
  </div>
</body>

<script>
  var vueObj = {
    el: '#app',
    i18n,
    data() {
      return {
        username: '',
        forgotType: '1',
        email: '',
        countryCodes: [],
        countryCode: 86,
        countryCodeTitle: '+86',
        tel: '',
        password: '',
        confirmPassword: '',
        code: '',
        agree: false,
        canSend: true,
        sendTxt: '',
        counter: 60,
        timer: null,
      };
    },
    created: function () {
      var cc = countryCode();
      cc.forEach(country => {
        this.countryCodes.push({
          text: country.name + "(" + country.dial_code + ")",
          value: country.dial_code
        });
      });
      var that = this;
      api.addEventListener({
        name: 'viewappear'
      }, function (ret, err) {
        if (api.getPrefs({ sync: true, key: KEY_LANGUAGE })) {
          that.$i18n.locale = api.getPrefs({ sync: true, key: KEY_LANGUAGE });
          that.sendTxt = i18n.t("lang.send");
        }
      });
    },
    methods: {
      onSubmit(params) {
        api.notification({
          vibrate: [100, 500],
          sound: 'widget://sound/ding.mp3'
        });
        params.forgotType = this.forgotType;
        params.countryCode = this.countryCodeTitle.replace("+", "");
        POST(getForgotPassword(), params, function (ret, err) {
          api.openWin({
            name: 'updatePassword',
            url: './update_password.html',
            pageParam: {
              token: ret.data.token
            }
          });
        });
      },
      sendCode() {
        var that = this;
        var params = {
          category: this.forgotType,
          messageType: "UPDATE_PASSWORD_CODE",
          language: "zh-CN"
        };
        if (this.forgotType == 0 && this.tel == '') {
          alertSingle(i18n.t('lang.pleaseEnterMobile'));
        } else if (this.forgotType == 1 && this.email == '') {
          alertSingle(i18n.t('lang.pleaseEnterEmail'));
        } else {
          if (this.forgotType == 0) {
            params.countryCode = this.countryCodeTitle.replace("+", "");
            params.tel = this.tel;
          } else if (this.forgotType == 1) {
            params.email = this.email;
          }
          POST(getSendCode(), params, function (ret, err) {
            that.canSend = false;
            that.countdown = 60;
            that.countDown();
            api.toast({
              msg: i18n.t('lang.sentSuccess'),
              duration: 2000,
              location: 'bottom'
            });
          });
        }
      },
      countDown() {
        this.canSend = false;
        this.countdown = 60;
        this.timer = setInterval(() => {
          // 替换文本，用es6里面的``这个来创建字符串模板，让秒实时改变
          this.sendTxt = `${this.counter}s`
          this.counter--
          if (this.counter < 0) {
            clearInterval(this.timer)
            this.sendTxt = i18n.t('lang.send');
            this.canSend = true;
          }
        }, 1000);
      },
      countryCodeChange(selected) {
        this.countryCodeTitle = selected;
      },
      emailValidator(val) {
        var rt = true;
        if (this.forgotType == 1 && this.email == '') {
          rt = false;
        }
        return rt;
      },
      telValidator(val) {
        var rt = true;
        if (this.forgotType == 0 && this.tel == '') {
          rt = false;
        }
        return rt;
      },
      cancel() {
        api.closeWin();
      }
    },
  };
  apiready = function () {
    window.app = new Vue(vueObj);
  }
</script>

</html>