<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0" />
  <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
  <title>{{$t("lang.register")}}</title>
	<script src="../../script/vue.min.js"></script>
	<script src="../../script/vue-i18n.min.js"></script>
	<script src="../../script/vant.min.js"></script>
  <script src="../../script/country-code.js"></script>

  <script src="../../i18n/zh-cn.js"></script>
  <script src="../../i18n/zh-tw.js"></script>
  <script src="../../i18n/en.js"></script>
  <script src="../../i18n/ja.js"></script>
  <script src="../../i18n/ko.js"></script>
  <script src="../../i18n/ar.js"></script>
  <script src="../../i18n/ms.js"></script>
  <script src="../../i18n/tr.js"></script>
  <script src="../../i18n/vi.js"></script>
  <script src="../../i18n/id.js"></script>
  <script src="../../script/jquery.min.js"></script>
  <script src="../../script/jquery.md5.js"></script>
  <script src="../../script/api.js"></script>
  <script src="../../script/webservice.js"></script>

	<link rel="stylesheet" type="text/css" href="../../css/index.css" />
  <link rel="stylesheet" type="text/css" href="../../css/api.css" />
  <link rel="stylesheet" type="text/css" href="../../css/app.css" />
</head>

<body>
  <div class="flex flex-v" id="app" style="width:100%;height:100%">
    <div class="topbar">{{$t('lang.register')}}</div>

    <div style="margin:3vw 8vw 3vw 8vw">
      <van-form @submit="onSubmit">
        <!-- 账号 -->
        <van-field name="username" 
                   :placeholder="$t('lang.username')"
                   :rules="[{required: true, message: $t('lang.pleaseEnterUsername') }]" 
                   class="input-field" 
                   v-model="username"
                   maxlength="40" size="large"></van-field>
        <div style="height:2vw"></div>
        <!-- 注册方式 -->
        <!-- <van-radio-group name="registerType" 
                         v-model="registerType" 
                         direction="horizontal" >
          <van-radio name="0">{{$t('lang.mobile')}}</van-radio>
          <van-radio name="1" checked>{{$t('lang.email')}}</van-radio>
        </van-radio-group>
        <div style="height:2vw"></div> -->
        <!-- 邮箱 -->
        <van-field name="email" 
                   v-show="registerType == 1"
                   id="filEmail"
                   :placeholder="$t('lang.email')"
                   :rules="[{validator: emailValidator,message: $t('lang.pleaseEnterEmail')}]" 
                   class="input-field" 
                   v-model="email"
                   maxlength="40" size="large"></van-field>
        <div style="height:2vw"></div>
        <!-- 手机号 -->
        <!-- <div class="flex flex-h" v-show="registerType == 0" >
          <van-dropdown-menu active-color="#1989fa" 
                             title-class="input-field flex-left flex-1" 
                             style="width: 24vw;">
            <van-dropdown-item name="countryCode" 
                               v-model="countryCode" 
                               :options="countryCodes" 
                               :title="countryCodeTitle"
                               @change="countryCodeChange"
                               />
          </van-dropdown-menu>
          <div style="width:2vw"></div>
          <van-field name="tel" 
                    class="input-field flex-right" 
                    :placeholder="$t('lang.mobile')"
                    :rules="[{validator: telValidator, message: $t('lang.pleaseEnterMobile') }]" 
                    v-model="tel"></van-field>
        </div>
        <div style="height:2vw"></div> -->
        <!-- 密码 -->
        <van-field name="password" 
                   :placeholder="$t('lang.password')" 
                   :rules="[{ required: true, message: $t('lang.pleaseEnterPassword') }]" 
                   class="input-field" 
                   v-model="password"
                   maxlength="20" 
                   type="password"></van-field>
        <div style="height:2vw"></div>
        <!-- 确认密码 -->
        <van-field name="confirmPassword" 
                   :placeholder="$t('lang.confirmPassword')" 
                   :rules="[{ required: true, message: $t('lang.pleaseEnterConfirmPassword') }]" 
                   class="input-field" 
                   v-model="confirmPassword"
                   maxlength="20" 
                   type="password"></van-field>
        <div style="height:2vw"></div>
        <!-- 邀请码 -->
        <van-field name="inviteCode" 
                   :placeholder="$t('lang.invitationCode')" 
                   class="input-field" 
                   v-model="invitationCode"
                   maxlength="20" 
                  ></van-field>
        <div style="height:2vw"></div>
        <!-- 验证码 -->
        <van-field name="code"
                    :placeholder="$t('lang.verificationCode')"
                    :rules="[{required: true, message: $t('lang.pleaseEnterVerificationCode') }]" 
                    class="input-field flex-1" 
                    v-model="code">
          <template #button>
            <van-button type="info" size="small" native-type="button" color="#a0732a" tapmode @click="sendCode" v-bind:disabled="!canSend">{{$t("lang.send")}}</van-button>
          </template>
        </van-field>
        <div style="height:2vw"></div>
        <!-- 默认语言 -->
        <van-button type="default" native-type="button" @click="showLang = true" block tapmode>{{$t("lang.language")}} - {{language}}</van-button>
        <div style="height:2vw"></div>
        <!-- 默认区域 -->
        <van-button type="default" native-type="button" @click="showReg = true" block tapmode>{{$t("lang.region")}} - {{region}}</van-button>
        <div style="height:2vw"></div>
        <!-- 用户协议 -->
        <div class="flex">
          <van-checkbox name="agree" v-model="agree"></van-checkbox>
          <span class="txt-desc">&nbsp;&nbsp;</span>
          <span tapmode @click="goProtocol()" class="txt-desc">{{$t("lang.userAgreement")}}</span>
        </div>
        <!-- 操作按钮 -->
        <div style="height:20vw"></div>
        <van-button type="info" native-type="submit" color="#a0732a" block tapmode>{{$t("lang.confirm")}}</van-button>
        <div style="height:2vw"></div>
        <van-button type="default" native-type="button" color="#a0732a" plain @click="cancel()" block plain tapmode>{{$t("lang.cancel")}}</van-button>
      </van-form>
      <div>
      <van-action-sheet 
        v-model="showLang" 
        :actions="languages" 
        @select="selLanguage" />
      </div>
      <div>
      <van-action-sheet 
        v-model="showReg" 
        :actions="regions" 
        :description="$t('lang.regionNotice')"
        @select="selRegion" />
      </div>
      
    </div>
  </div>
</body>

<script>
  var vueObj = {
    el: '#app',
    i18n,
    data() {
      return {
        username: '',
        registerType: '1',
        email: '',
        countryCodes: [],
        countryCode: 86,
        countryCodeTitle: '+86',
        tel: '',
        password: '',
        confirmPassword: '',
        invitationCode:'',
        code: '',
        showLang: false,
        language: '简体中文',
        selLang: 'zh-CN',
        languages: [{ name: '简体中文', val: 'zh-CN' }, { name: '繁體中文', val: 'zh-TW' }, { name: 'English', val: 'en-US' }, { name: '日本', val: 'ja' }, { name: '한국인', val: 'ko' }, { name: 'عربى', val: 'ar' }, { name: 'Melayu', val: 'ms' }, { name: 'Türkçe', val: 'tr' }, { name: 'Tiếng Việt', val: 'vi' }, { name: 'Indonesia', val: 'id' }],
        showReg: false,
        region: i18n.t("lang.regionApac"),
        selReg: 'apac',
        regions: [{ name: i18n.t("lang.regionApac"), val: 'apac' }, { name: i18n.t("lang.regionEmea"), val: 'emea', disabled: true }, { name: i18n.t("lang.regionAmericas"), val: 'americas', disabled: true }],
        agree: false,
        canSend: true,
        sendTxt: '',
        counter: 60,
        timer: null,
      };
    },
    created: function () {
      var cc = countryCode();
      cc.forEach(country => {
        this.countryCodes.push({
          text: country.name + "(" + country.dial_code + ")",
          value: country.dial_code.replace("+", "")
        });
      });
      var that = this;
      api.addEventListener({
        name: 'viewappear'
      }, function (ret, err) {
        if (api.getPrefs({ sync: true, key: KEY_LANGUAGE })) {
          that.$i18n.locale = api.getPrefs({ sync: true, key: KEY_LANGUAGE });
          if (that.$i18n.locale == 'cn') {
            that.selLang = "zh-CN";
            that.language = "简体中文"
          } else if (that.$i18n.locale == 'tw') {
            that.selLang = "zh-TW"
            that.language = "繁體中文"
          } else if (that.$i18n.locale == 'en') {
            that.selLang = "en-US"
            that.language = "English"
          }else if (that.$i18n.locale == 'ja') {
            that.selLang = "ja"
            that.language = "日本"
          }else if (that.$i18n.locale == 'ko') {
            that.selLang = "ko"
            that.language = "한국인"
          }else if (that.$i18n.locale == 'ar') {
            that.selLang = "ar"
            that.language = "عربى"
          }else if (that.$i18n.locale == 'ms') {
            that.selLang = "ms"
            that.language = "Melayu"
          }else if (that.$i18n.locale == 'tr') {
            that.selLang = "tr"
            that.language = "Türkçe"
          }else if (that.$i18n.locale == 'vi') {
            that.selLang = "vi"
            that.language = "Tiếng Việt"
          }else if (that.$i18n.locale == 'id') {
            that.selLang = "id"
            that.language = "Indonesia"
          }
        }
        that.sendTxt = i18n.t("lang.send");
        that.regions = [{ name: i18n.t("lang.regionApac"), val: 'apac' }, { name: i18n.t("lang.regionEmea"), val: 'emea', disabled: true }, { name: i18n.t("lang.regionAmericas"), val: 'americas', disabled: true }]
        for (const reg of that.regions) {
          if (reg.val == that.selReg) {
            that.region = reg.name;
          }
        }
      });
    },
    mounted(){
      this.sendTxt = i18n.t("lang.send");

    },
    methods: {
      onSubmit(params) {
        api.notification({
          vibrate: [100, 500],
          sound: 'widget://sound/ding.mp3'
        });
        if (this.agree) {
          params.registerType = this.registerType;
          params.countryCode = this.countryCodeTitle.replace('+', '');
          params.language = this.selLang;
          params.region = this.selReg;
          POST(getRegister(), params, function (ret, err) {
            alertSingle(i18n.t("lang.registerSuccess"), function (ret) {
              api.closeWin();
            });
          });
        } else {
          alertSingle(i18n.t("lang.pleaseCheckAgreement"));
        }
      },
      sendCode() {
        var that = this;
        var params = {
          category: this.registerType,
          messageType: "REGISTER_CODE",
          language: this.selLang
        };
        if (this.registerType == 0 && this.tel == '') {
          alertSingle(i18n.t('lang.pleaseEnterMobile'));
        } else if (this.registerType == 1 && this.email == '') {
          alertSingle(i18n.t('lang.pleaseEnterEmail'));
        } else {
          if (this.registerType == 0) {
            params.tel = this.tel;
            params.countryCode = this.countryCodeTitle.replace('+', '');
          } else if (this.registerType == 1) {
            params.email = this.email;
          }
          POST(getSendCode(), params, function (ret, err) {
            that.canSend = false;
            that.countdown = 60;
            that.countDown();
            api.toast({
              msg: i18n.t('lang.sentSuccess'),
              duration: 2000,
              location: 'bottom'
            });
          });
        }
      },
      countDown() {
        this.canSend = false;
        this.countdown = 60;
        this.timer = setInterval(() => {
          // 替换文本，用es6里面的``这个来创建字符串模板，让秒实时改变
          this.sendTxt = `${this.counter}s`
          this.counter--
          if (this.counter < 0) {
            clearInterval(this.timer)
            this.sendTxt = i18n.t('lang.send');
            this.canSend = true;
          }
        }, 1000);
      },
      countryCodeChange(selected) {
        this.countryCodeTitle = '+'+selected;
      },
      emailValidator(val) {
        var rt = true;
        if (this.registerType == 1 && this.email == '') {
          rt = false;
        }
        return rt;
      },
      telValidator(val) {
        var rt = true;
        if (this.registerType == 0 && this.tel == '') {
          rt = false;
        }
        return rt;
      },
      selLanguage(item) {
        this.showLang = false;
        this.language = item.name;
        this.selLang = item.val;
        if (item.val == 'zh-CN') {
          this.$i18n.locale = 'cn';
        } else if (item.val == 'zh-TW') {
          this.$i18n.locale = 'tw';
        } else if (item.val == 'en-US') {
          this.$i18n.locale = 'en';
        } else if (item.val == 'ja') {
          this.$i18n.locale = 'ja';
        } else if (item.val == 'ko') {
          this.$i18n.locale = 'ko';
        } else if (item.val == 'ar') {
          this.$i18n.locale = 'ar';
        } else if (item.val == 'ms') {
          this.$i18n.locale = 'ms';
        } else if (item.val == 'tr') {
          this.$i18n.locale = 'tr';
        } else if (item.val == 'vi') {
          this.$i18n.locale = 'vi';
        } else if (item.val == 'id') {
          this.$i18n.locale = 'id';
        }
        api.setPrefs({
          key: KEY_LANGUAGE,
          value: this.$i18n.locale
        })
        this.sendTxt = i18n.t("lang.send");
        this.regions = [{ name: i18n.t("lang.regionApac"), val: 'apac' }, { name: i18n.t("lang.regionEmea"), val: 'emea', disabled: true }, { name: i18n.t("lang.regionAmericas"), val: 'americas', disabled: true }]
       debugger
        for (const reg of this.regions) {
          if (reg.val == this.selReg) {
            this.region = reg.name;
          }
        }
      },
      selRegion(item) {
        this.showReg = false;
        this.region = item.name;
        this.selReg = item.val;
      },
      goProtocol() {
        api.openWin({
          name: 'web',
          url: '../common/web.html',
          pageParam: {
            title: i18n.t('lang.userAgreement'),
            link: URL_PROTOCOL
          }
        });
      },
      cancel() {
        api.closeWin();
      }
    },
  };
  apiready = function () {
    window.app = new Vue(vueObj);
  }

</script>

</html>